@font-face {
    font-family: Ambassador;
    src: url(../fonts/ambassador/Ambassador.ttf) format('truetype');
}

a {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    overflow: hidden;
}
