# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\USR\www\EnglishGenius.loc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
